#buttonNum6{
  position:absolute;
  left:402px;
  top:251px;
}
#buttonNum7{
position:absolute;
left:100px;
top:100px;
}
#buttonNum8{
position:absolute;
left:251px;
top:100px;
}
#buttonNum9{
position:absolute;
left:402px;
top:100px;
}

button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.69s;
}

.calc-buttons{
  width:150px;
  height: 150px;
  background-color: #EBE9E9;
  color: black;
  border: 2px solid black;
}
